<div class="container"  id="default{{rowid}}">
  <button mat-raised-button color="primary" *ngIf="!hideResetBtn"  type="button" (click)="resetFileUpload()">{{replaceTexts?.resetBtn}}</button>
  <label for="sel{{rowid}}" class="btn btn-primary btn-sm afu-select-btn"
    *ngIf="!hideSelectBtn">{{replaceTexts?.selectFileBtn}}</label>
    <input type="file" id="sel{{rowid}}" style="display: none" *ngIf="!hideSelectBtn" (change)="onChange($event)"
    title="Select file" name="files[]" [accept]=formatsAllowed [attr.multiple]="multiple ? '' : null" />
  <br *ngIf="!hideSelectBtn">
  <p class="constraints-info afu-constraints-info">({{formatsAllowed}}) {{replaceTexts?.sizeLimit}}: {{(convertSize(maxSize))}}
  </p>
  <!--Allowed file list-->
  <div class=" row  moveRight" *ngFor="let sf of allowedFiles;let i=index">
    <p class="col-xs-3 textOverflow"><span class="text-primary">{{sf.name}}</span></p>
    <p class="col-xs-3 padMarg sizeC"><strong>({{convertSize(sf.size)}})</strong>&nbsp;</p>
    <div class="progress col-xs-3 padMarg afu-progress-bar " *ngIf="isAllowedFileSingle && progressBarShow && !hideProgressBar">
      <span class="progress-bar progress-bar-success progressWidth" role="progressbar"
        [ngStyle]="{'width':uploadPercent+'%'}">{{uploadPercent}}%</span>
    </div>
    </div>
    <div class="row" *ngIf="allowedFiles.length>0">
      <div class="col-6" *ngIf="fileExtRegExp.exec(allowedFiles[0].name)[1].toLowerCase() !=='pdf'">
        <img [src]="url" height="80" width="80">
      </div>
      <div class="col-6" >
      <pdf-viewer [src]="pdfSrc" [render-text]="true" height="50" [original-size]="false">
      </pdf-viewer>
     </div>
      </div>
  <!--Not Allowed file list-->
  <div class="row text-danger afu-invalid-file" *ngFor="let na of notAllowedFiles;let j=index">
    <p class="col-xs-3 textOverflow"><span>{{na['fileName']}}</span></p>
    <p class="col-xs-3 padMarg sizeC"><strong>({{na['fileSize']}})</strong></p>
    <p class="col-xs-3 ">{{na['errorMsg']}}</p>
     </div>
     <br>
  <p *ngIf="uploadMsg" class="{{uploadMsgClass}} + afu-upload-status">{{uploadMsgText}}<p>
    <div *ngIf="!isAllowedFileSingle && progressBarShow && !hideProgressBar">
      <div class="progress col-xs-4 padMarg afu-progress-bar ">
        <span class="progress-bar progress-bar-success progressWidth" role="progressbar"
          [ngStyle]="{'width':uploadPercent+'%'}">{{uploadPercent}}%</span>
      </div>
      <br>
    </div>
      <button mat-raised-button color="accent"  [disabled]=!enableUploadBtn type="button" (click)="uploadFiles()">{{replaceTexts?.uploadBtn}}</button>
      <br>
</div>



