<h2 mat-dialog-title>Preview</h2>
<mat-dialog-content >
  <mat-card>
    <mat-card  >
      <mat-card-header>
        <mat-card-title>Personal Details</mat-card-title>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
      <mat-card-header>
      <mat-card-title>Address Details</mat-card-title>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
      <mat-card-header>
      <mat-card-title>Education Qualification Details</mat-card-title>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
  </mat-card>
</mat-card>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-raised-button color="primary" (click)="onConfirmClick()" tabindex="1">Close</button>
</mat-dialog-actions>
