<h2 mat-dialog-title>Preview</h2>
<mat-dialog-content >


  <nav mat-tab-nav-bar>
    <a mat-tab-link [routerLink]="['/personalpreview', profileid]" [state]="{ data: profileid}" routerLinkActive="active"  #personal1Tab="routerLinkActive" [active]="personal1Tab.isActive">
      Personal Details
    </a>
    <a mat-tab-link routerLink="/addresspreview" [state]="{ data: profileid}"  routerLinkActive #address1Tab="routerLinkActive" [active]="address1Tab.isActive">Address</a>
    <a mat-tab-link routerLink="/educationpreview" [state]="{ data: profileid}" routerLinkActive #educationqualification1Tab="routerLinkActive" [active]="educationqualification1Tab.isActive">Education Qualification</a>
    <a mat-tab-link routerLink="/paymentpreview" [state]="{ data: profileid}" routerLinkActive #payment1Tab="routerLinkActive" [active]="payment1Tab.isActive">Payment Details</a>
    <a mat-tab-link routerLink="/documentspreview" [state]="{ data: profileid}" routerLinkActive #documentspreviewTab="routerLinkActive" [active]="documentspreviewTab.isActive">Documents Details</a>
  </nav>

  <router-outlet></router-outlet>

</mat-dialog-content>
<mat-dialog-actions>
	<button mat-raised-button color="primary" (click)="onConfirmClick()" tabindex="1">Close</button>
</mat-dialog-actions>
