
    <div class="container">
      <br>
      <br>
      <br>
      <mat-card>
        <mat-card-content class="d-inline-flex ">
          <form [formGroup]="personalDetailsForm">
                    <div class="form-group row">
                        <label for="full_name" class="col-md-6 col-form-label text-md-left">Full Name</label>
                        <div class="col-md-6">
                        <div class="flex-left">
                            <input type="text" id="full_name" class="form-control" name="full-name">
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                        <label for="email_address" class="col-md-6 col-form-label text-md-left">E-Mail Address</label>
                        <div class="col-md-6">
                            <input type="text" id="email_address" class="form-control" name="email-address">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="user_name" class="col-md-6 col-form-label text-md-left">User Name</label>
                        <div class="col-md-6">
                            <input type="text" id="user_name" class="form-control" name="username">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="phone_number" class="col-md-6 col-form-label text-md-left">Phone Number</label>
                        <div class="col-md-6">
                            <input type="text" id="phone_number" class="form-control">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="present_address" class="col-md-6 col-form-label text-md-left">Present Address</label>
                        <div class="col-md-6">
                            <input type="text" id="present_address" class="form-control">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="permanent_address" class="col-md-6 col-form-label text-md-left">Permanent Address</label>
                        <div class="col-md-6">
                            <input type="text" id="permanent_address" class="form-control" name="permanent-address">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="nid_number" class="col-md-6 col-form-label text-md-left"><abbr
                                    title="National Id Card">NID</abbr> Number</label>
                        <div class="col-md-6">
                            <input type="text" id="nid_number" class="form-control" name="nid-number">
                        </div>
                    </div>
                  </form>
      </mat-card-content>
      <mat-card-content class="d-inline-flex ">
        <form [formGroup]="personalDetailsForm">
                  <div class="form-group row">
                      <label for="full_name" class="col-md-6 col-form-label text-md-left">Full Name</label>
                      <div class="col-md-6">
                      <div class="flex-left">
                          <input type="text" id="full_name" class="form-control" name="full-name">
                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                      <label for="email_address" class="col-md-6 col-form-label text-md-left">E-Mail Address</label>
                      <div class="col-md-6">
                          <input type="text" id="email_address" class="form-control" name="email-address">
                      </div>
                  </div>

                  <div class="form-group row">
                      <label for="user_name" class="col-md-6 col-form-label text-md-left">User Name</label>
                      <div class="col-md-6">
                          <input type="text" id="user_name" class="form-control" name="username">
                      </div>
                  </div>

                  <div class="form-group row">
                      <label for="phone_number" class="col-md-6 col-form-label text-md-left">Phone Number</label>
                      <div class="col-md-6">
                          <input type="text" id="phone_number" class="form-control">
                      </div>
                  </div>

                  <div class="form-group row">
                      <label for="present_address" class="col-md-6 col-form-label text-md-left">Present Address</label>
                      <div class="col-md-6">
                          <input type="text" id="present_address" class="form-control">
                      </div>
                  </div>

                  <div class="form-group row">
                      <label for="permanent_address" class="col-md-6 col-form-label text-md-left">Permanent Address</label>
                      <div class="col-md-6">
                          <input type="text" id="permanent_address" class="form-control" name="permanent-address">
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="nid_number" class="col-md-6 col-form-label text-md-left"><abbr
                                  title="National Id Card">NID</abbr> Number</label>
                      <div class="col-md-6">
                          <input type="text" id="nid_number" class="form-control" name="nid-number">
                      </div>
                  </div>
                </form>
    </mat-card-content>
      </mat-card>
      </div>


