a
{
  background-color:#00838F;
  color:white;
  padding :15px;
  //border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}

.customHeader{
  background-color:#00838F;
  color:white;

  }

