
<nav mat-tab-nav-bar>
	<a mat-tab-link routerLink="/registrationdetails/profilesummary/personal" routerLinkActive #personalTab="routerLinkActive" [active]="personalTab.isActive">
		Personal Details
	</a>
	<a mat-tab-link routerLink="/registrationdetails/profilesummary/address" routerLinkActive #addressTab="routerLinkActive" [active]="addressTab.isActive">Address</a>

	<a mat-tab-link routerLink="/registrationdetails/profilesummary/educationqualification" routerLinkActive #educationqualificationTab="routerLinkActive" [active]="educationqualificationTab.isActive">Education Qualification</a>

</nav>

<router-outlet></router-outlet>



