/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;width:100%;position: relative;}
body { margin: 0;padding :0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.required-asterisk{
  color: red;
  font-weight: bold;
  margin-left: 2px;
  font-size: 1.2em;
}

.button-color{
  background-color:#00838F;
  color:white;
}

.button-color-primary{
  background-color:orangered;
  color:white;
}
.test {
  white-space: pre-line;
}
app-root {

  min-height: 100%;

  display: block;

  position: relative;

  padding-bottom: 56px; // height of the footer

  }
  .centercss
  {
    display: flex;
    justify-content: center;
    align-items: stretch;;
  }
