.example-form {
  min-width: 200px;
  max-width: 300px;
  width: 100%;
  margin: 2em auto;
}

.example-full-width {
  width: 100%;
}
mat-card{
  background-color:#F1F8E9;
}

mat-error{
  font-weight: bold;
}


.nextButton
{
  margin-left: 12px;
}

