<mat-horizontal-stepper [linear]="isLinear" #stepper labelPosition="bottom">
  <mat-step [stepControl]="personalDetailsForm" label="Personal Details" >
    <mat-card  >
      <mat-card-header>
        <mat-card-title>Personal Details</mat-card-title>
      </mat-card-header>
      <mat-card-content>
      <form [formGroup]="personalDetailsForm" >
        <br>
        <div class="row">
        <div class="col-6 div-right">
        <div class="form-group example-form" >
        <div class="row" >
        <div class="col-6"><label ast-required>Father's Name</label></div>
        <div class="col-6"><small><mat-hint  matTooltipClass="test" matTooltip="{{hintFullNamedDisplay}}">Hint</mat-hint></small></div>
        </div>
        <mat-form-field class="example-full-width">
        <span matPrefix><mat-icon>person</mat-icon>&nbsp;</span>
        <input matInput type="text"  formControlName="fathername"  required appAlphabetOnly>
        <mat-error *ngIf ="personalDetailsForm.touched && fathername.hasError('pattern') && !fathername.hasError('required')">
          {{errors.fullName}}
        </mat-error>
        <mat-error *ngIf ="fathername.hasError('required')">
          {{errors.fullNameRequired}}
        </mat-error>
        </mat-form-field>
        </div>

        <div class="form-group example-form" >
          <div class="row" >
          <div class="col-6"><label ast-required>Mother's Name</label></div>
          <div class="col-6"><small><mat-hint  matTooltipClass="test" matTooltip="{{hintFullNamedDisplay}}">Hint</mat-hint></small></div>
          </div>
          <mat-form-field class="example-full-width">
          <span matPrefix><mat-icon>person</mat-icon>&nbsp;</span>
          <input matInput type="text"  formControlName="mothername"  required appAlphabetOnly>
          <mat-error *ngIf ="personalDetailsForm.touched && mothername.hasError('pattern') && !mothername.hasError('required')">
            {{errors.fullName}}
          </mat-error>
          <mat-error *ngIf ="mothername.hasError('required')">
            {{errors.fullNameRequired}}
          </mat-error>
          </mat-form-field>
           </div>
          <div class="form-group example-form" >
          <div class="row" >
          <div class="col-6"><label >Guardian Name</label></div>
          <div class="col-6"><small><mat-hint  matTooltipClass="test" matTooltip="{{hintFullNamedDisplay}}">Hint</mat-hint></small></div>
          </div>
          <mat-form-field class="example-full-width">
          <span matPrefix><mat-icon>person</mat-icon>&nbsp;</span>
          <input matInput type="text"  formControlName="guardianname" appAlphabetOnly>
          <mat-error *ngIf ="guardianname.hasError('pattern')">
            {{errors.fullName}}
          </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group example-form">
          <div class="row" >
            <div class="col-6"><label ast-required>Guardian Mobile no</label></div>
            <div class="col-6"><small><mat-hint  matTooltipClass="test" matTooltip="{{hintMobileDisplay}}">Hint</mat-hint></small></div>
          </div>
           <mat-form-field class="example-full-width">
            <span matPrefix>+91&nbsp;</span>
           <input matInput type="text" (keypress)="utilitysrv.numberOnly($event)" formControlName="guardianmobileno"  placeholder="10 digit" >
           <mat-error *ngIf ="personalDetailsForm.touched && guardianmobileno.hasError('pattern') && !guardianmobileno.hasError('required')">
            {{errors.mobile}}
           </mat-error>

          <mat-error *ngIf ="guardianmobileno.hasError('required')">
            {{errors.mobileRequired}}
          </mat-error>
          </mat-form-field>
         </div>
         <div class="form-group example-form">
          <div fxLayout="row" fxLayoutAlign="start">
            <div fxFlex="75"><label ast-required>Gender</label></div>
          </div>
            <select class="custom-select" formControlName="gender">
               <option value="">Select</option>
                <option *ngFor="let item of this.jsonGender;let i = index" value="{{item.value}}" [selected]="i == 0">
                  {{item.value}}
                </option>
              </select>
          <small>
          <mat-error  *ngIf ="((gender.touched || isnextPersonalButton) && gender.hasError('required'))">
            {{errors.genderRequired}}
          </mat-error>
          </small>
         </div>
         <div class="form-group example-form">
          <div fxLayout="row" fxLayoutAlign="start">
            <div fxFlex="75"><label ast-required>Nationality</label></div>
          </div>
            <select class="custom-select" formControlName="nationality">
               <option value="">Select</option>
                <option *ngFor="let item of this.jsonNationality;let i = index" value="{{item.value}}" [selected]="i == 0">
                  {{item.value}}
                </option>
              </select>
          <small>
          <mat-error  *ngIf ="((nationality.touched || isnextPersonalButton) && nationality.hasError('required'))">
            {{errors.nationalityRequired}}
          </mat-error>
          </small>
         </div>
         <div class="form-group example-form">
          <div fxLayout="row" fxLayoutAlign="start">
            <div fxFlex="75"><label ast-required>State of Domicile</label></div>
          </div>
            <select class="custom-select" formControlName="state" (change)="onChangeState($event)">
               <option value="">Select</option>
                <option *ngFor="let item of this.jsonState;let i = index" value="{{item.key}}" [selected]="i == 0">
                  {{item.value}}
                </option>
              </select>
          <small>
          <mat-error  *ngIf ="((state.touched || isnextPersonalButton) && state.hasError('required'))">
            {{errors.stateRequired}}
          </mat-error>
          </small>
         </div>
      </div>

      <div class="col-6">
          <div class="form-group example-form">
          <div fxLayout="row" fxLayoutAlign="start">
            <div fxFlex="75"><label ast-required>Religion</label></div>
          </div>
            <select class="custom-select" formControlName="religion" (change)="onChangeReligion($event)">
               <option value="">Select</option>
                <option *ngFor="let item of this.jsonReligion;let i = index" value="{{item.key}}" [selected]="i == 0">
                  {{item.value}}
                </option>
              </select>
          <small>
          <mat-error  *ngIf ="((religion.touched || isnextPersonalButton) && religion.hasError('required'))">
            {{errors.religionRequired}}
          </mat-error>
          </small>
         </div>
         <div *ngIf = "isShowCommunity" class="form-group example-form">
          <div fxLayout="row" fxLayoutAlign="start">
            <div fxFlex="75"><label ast-required>Community</label></div>
          </div>
            <select class="custom-select" formControlName="community">
               <option value="">Select</option>
                <option *ngFor="let item of this.jsonCommunity;let i = index" value="{{item.communityname}}" [selected]="i == 0">
                  {{item.communityname}}
                </option>
              </select>
          <small>
          <mat-error  *ngIf ="((community.touched || isnextPersonalButton)  && community.hasError('required'))">
            {{errors.communityRequired}}
          </mat-error>
          </small>
         </div>
         <div class="form-group example-form">
          <label id="creamylayer-group-label" ast-required >Whether belong to Creamy Layer ?</label>
            <mat-radio-group aria-label="creamylayer-group-label"  formControlName="creamylayer" class="example-radio-group" (change)="onChangeCreamyLayer($event)">
              <mat-radio-button value="true"  class="example-radio-button" >Yes</mat-radio-button>
              <mat-radio-button value="false"  class="example-radio-button" >No</mat-radio-button>
            </mat-radio-group>
            <small>
            <mat-error *ngIf ="((creamylayer.touched || isnextPersonalButton) && creamylayer.hasError('required'))">
            {{errors.creamyLayerRequired}}
          </mat-error>
           </small>
         </div>
         <div class="form-group example-form" *ngIf ="isEWSvisible">
          <div class="row" >
            <div class="col-6"><label ast-required>Annual Income</label></div>
            <div class="col-6"><small><mat-hint  matTooltipClass="test" matTooltip="{{hintAnnualIncomeMessages}}">Hint</mat-hint></small></div>
          </div>
           <mat-form-field class="example-full-width">
           <input matInput type="text"  formControlName="annualincome" appMoneyOnly maxDigits="9" (focus)="onfocusAnnualIncome()"  placeholder="₹100000.0" >
          <mat-error *ngIf ="((annualincome.touched || isnextPersonalButton) && annualincome.hasError('required'))">
            {{errors.annualincomeRequired}}
          </mat-error>
          </mat-form-field>
         </div>
         <div class="form-group example-form" *ngIf ="isEWSvisible">
          <label >Upload EWS Certificate</label><br>
          <app-angular-file-uploader [resetUpload]=resetUpload1 [config]="fileuploadConfig"  (ApiResponse)="docUpload($event)">
          </app-angular-file-uploader>
        </div>

         <br>
         <br>
         <br>
         <hr>
         <br>
         <button mat-raised-button color="primary" (click)="isClickedPersonalNext()" matStepperNext>Next</button>
        </div>
        </div>
      </form>
      </mat-card-content>
      </mat-card>
  </mat-step>

  <mat-step [stepControl]="addressDetailsForm" label="Address Details" >
      <mat-card >
      <mat-card-content>
        <form [formGroup]="addressDetailsForm" >
        <div class="row">
        <div class="col-6 div-right">
        <h2 class="addressHeading">{{addresstype.present}}</h2>
        <br>
        <br>
        <div class="form-group example-form" >
        <div class="row" >
        <div class="col-6"><label ast-required>Address Line1</label></div>
        <div class="col-6"><small><mat-hint  matTooltipClass="test" matTooltip="{{hintAddressdMessages}}">Hint</mat-hint></small></div>
        </div>
        <mat-form-field class="example-full-width">
        <span matPrefix><mat-icon>other_houses</mat-icon>&nbsp;</span>
        <input matInput type="text"  formControlName="present_addressline1"  required (blur)="onChangeTrim($event)" >
        <mat-error *ngIf ="addressDetailsForm.touched && present_addressline1.hasError('pattern') && !present_addressline1.hasError('required')">
          {{errors.addressline}}
        </mat-error>
        <mat-error *ngIf ="present_addressline1.hasError('required')">
          {{errors.addresslineRequired}}
        </mat-error>
        </mat-form-field>
        </div>

        <div class="form-group example-form" >
          <div class="row" >
          <div class="col-6"><label ast-required>Address Line2</label></div>
          <div class="col-6"><small><mat-hint  matTooltipClass="test" matTooltip="{{hintAddressdMessages}}">Hint</mat-hint></small></div>
          </div>
          <mat-form-field class="example-full-width">
          <span matPrefix><mat-icon>other_houses</mat-icon>&nbsp;</span>
          <input matInput type="text"  formControlName="present_addressline2"  required (blur)="onChangeTrim($event)">
          <mat-error *ngIf ="addressDetailsForm.touched && present_addressline2.hasError('pattern') && !present_addressline2.hasError('required')">
            {{errors.addressline}}
          </mat-error>
          <mat-error *ngIf ="present_addressline2.hasError('required')">
            {{errors.addresslineRequired}}
          </mat-error>
          </mat-form-field>
          </div>
          <div class="form-group example-form">
          <div fxLayout="row" fxLayoutAlign="start">
            <div fxFlex="75"><label ast-required>District</label></div>
          </div>
            <select class="custom-select" formControlName="present_districtcode">
               <option value="">Select</option>
                <option *ngFor="let item of this.jsonDistrict;let i = index" value="{{item.key}}" [selected]="i == 0">
                  {{item.value}}
                </option>
              </select>
          <small>
          <mat-error  *ngIf ="((present_districtcode.touched || isnextAddressButton) && present_districtcode.hasError('required'))">
            {{errors.districtRequired}}
          </mat-error>
          </small>
         </div>
         <div class="form-group example-form">
          <div fxLayout="row" fxLayoutAlign="start">
            <div fxFlex="75"><label ast-required>Pincode</label></div>
          </div>
          <mat-form-field class="example-full-width">
            <input matInput type="text"  formControlName="present_pincode"  required (keypress)="utilitysrv.numberOnly($event)">
            <mat-error *ngIf ="addressDetailsForm.touched && present_pincode.hasError('pattern') && !present_pincode.hasError('required')">
              {{errors.pincode}}
            </mat-error>
            <mat-error *ngIf ="present_pincode.hasError('required')">
              {{errors.pincodeRequired}}
            </mat-error>
            </mat-form-field>
         </div>
      </div>
      <div class="col-6" >
        <h2 class="addressHeading">{{addresstype.permanent}}</h2>
            <mat-checkbox (change)="onChangeAddressCheckBox()"
            class="example-margin checkboxAddress"
            formControlName="addresscheckbox">
              Same as Present Address
           </mat-checkbox>
            <div class="form-group example-form" >
            <div class="row" >
            <div class="col-6"><label ast-required>Address Line1</label></div>
            <div class="col-6"><small><mat-hint  matTooltipClass="test" matTooltip="{{hintAddressdMessages}}">Hint</mat-hint></small></div>
            </div>
            <mat-form-field class="example-full-width">
            <span matPrefix><mat-icon>house</mat-icon>&nbsp;</span>
            <input matInput type="text"  formControlName="permanent_addressline1"  required (blur)="onChangeTrim($event)">
            <mat-error *ngIf ="addressDetailsForm.touched && permanent_addressline1.hasError('pattern') && !permanent_addressline1.hasError('required')">
              {{errors.addressline}}
            </mat-error>
            <mat-error *ngIf ="permanent_addressline1.hasError('required')">
              {{errors.addresslineRequired}}
            </mat-error>
            </mat-form-field>
            </div>
            <div class="form-group example-form" >
              <div class="row" >
              <div class="col-6"><label ast-required>Address Line2</label></div>
              <div class="col-6"><small><mat-hint  matTooltipClass="test" matTooltip="{{hintAddressdMessages}}">Hint</mat-hint></small></div>
              </div>
              <mat-form-field class="example-full-width">
              <span matPrefix><mat-icon>house</mat-icon>&nbsp;</span>
              <input matInput type="text"  formControlName="permanent_addressline2"  required (blur)="onChangeTrim($event)">
              <mat-error *ngIf ="addressDetailsForm.touched && permanent_addressline2.hasError('pattern') && !permanent_addressline2.hasError('required')">
                {{errors.addressline}}
              </mat-error>
              <mat-error *ngIf ="permanent_addressline2.hasError('required')">
                {{errors.addresslineRequired}}
              </mat-error>
              </mat-form-field>
              </div>
              <div class="form-group example-form">
              <div fxLayout="row" fxLayoutAlign="start">
                <div fxFlex="75"><label ast-required>District</label></div>
              </div>
                <select class="custom-select" formControlName="permanent_districtcode">
                   <option value="">Select</option>
                    <option *ngFor="let item of this.jsonDistrict;let i = index" value="{{item.key}}" [selected]="i == 0">
                      {{item.value}}
                    </option>
                  </select>
              <small>
              <mat-error  *ngIf ="((permanent_districtcode.touched || isnextAddressButton) && permanent_districtcode.hasError('required'))">
                {{errors.districtRequired}}
              </mat-error>
              </small>
             </div>
             <div class="form-group example-form">
              <div fxLayout="row" fxLayoutAlign="start">
                <div fxFlex="75"><label ast-required>Pincode</label></div>
              </div>
              <mat-form-field class="example-full-width">
                <input matInput type="text"  formControlName="permanent_pincode"  required (keypress)="utilitysrv.numberOnly($event)">
                <mat-error *ngIf ="addressDetailsForm.touched && permanent_pincode.hasError('pattern') && !permanent_pincode.hasError('required')">
                  {{errors.pincode}}
                </mat-error>
                <mat-error *ngIf ="permanent_pincode.hasError('required')">
                  {{errors.pincodeRequired}}
                </mat-error>
                </mat-form-field>
              </div>
         <br>
         <br>
         <hr>
         <br>
        <button mat-raised-button  color="primary" class="nextButton" (click)="isClickedAddressNext()"  matStepperNext>Next</button>
        </div>
        </div>
        </form>
        </mat-card-content>
        </mat-card>
       </mat-step>

  <mat-step [stepControl]="formEducationDetailsGroup" label="Education Details" >
    <button class="addButton" mat-button (click)="addQualification()"><span class="material-icons">
      add_circle
      </span> Add Education details</button><br>
      <small class="smallInfo">Please enter details from 10th standard onwards</small>
            <div  class="example-container mat-elevation-z8">
              <mat-table #table [dataSource]="EducationArray.controls">

                <!-- Position Column -->
                <ng-container matColumnDef="qualificationtype">
                  <mat-header-cell *matHeaderCellDef> Qualification Type </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                  <mat-form-field class="example-full-width" floatLabel="never" appearance="none" >
                    <mat-select placeholder="Select"  [formControl]="element.get('qualificationtype')" >
                      <mat-option *ngFor="let item of this.jsonQualification;let i = index" [value]="item.value">
                        {{item.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  </mat-cell>
                </ng-container>

                <!-- institution Column -->
                <ng-container matColumnDef="institution">
                  <mat-header-cell *matHeaderCellDef> Institution </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                    <mat-form-field floatLabel="never">
                    <input matInput type="text" placeholder="" [formControl]="element.get('institution')"  required >
                  </mat-form-field>
                </mat-cell>
                </ng-container>

                <!-- university Column -->
                <ng-container matColumnDef="university">
                  <mat-header-cell *matHeaderCellDef> University </mat-header-cell>
                   <mat-cell *matCellDef="let element" >
                    <mat-form-field floatLabel="never">
                    <input matInput type="text" placeholder="" [formControl]="element.get('university')"  required >
                  </mat-form-field>
                 </mat-cell>
                </ng-container>

                <!-- yearofpass Column -->
                <ng-container matColumnDef="yearofpass">
                <mat-header-cell *matHeaderCellDef> Year of pass </mat-header-cell>
                <mat-cell *matCellDef="let element;let i=index;">
                <mat-form-field class="example-full-width" appearance="fill">
                <input matInput [matDatepicker]=pickers [formControl]="element.get('yearofpass')" readonly [min]="minDate" [max]="maxDate">
                <mat-datepicker-toggle matSuffix [for]=pickers></mat-datepicker-toggle>
                <mat-datepicker #pickers startView="multi-year" (yearSelected)="chosenYearHandler($event,pickers,i,element.get('yearofpass'))" panelClass="example-year-picker">
                </mat-datepicker>

                </mat-form-field>
                </mat-cell>
                </ng-container>

                <!-- Registration No Column -->
                <ng-container matColumnDef="registrationno">
                  <mat-header-cell *matHeaderCellDef> Registration No </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <mat-form-field floatLabel="never">
                    <input matInput type="text" placeholder="R40000"  [formControl]="element.get('registrationno')"  required >
                    </mat-form-field>
                  </mat-cell>
                </ng-container>
                <!-- CGPA Column -->
                <ng-container matColumnDef="cgpa">
                  <mat-header-cell *matHeaderCellDef> CGPA </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <mat-form-field floatLabel="never">
                    <input matInput type="text" placeholder="8.5" [formControl]="element.get('cgpa')"  required >
                    </mat-form-field>
                  </mat-cell>
                </ng-container>
                <!-- Percentage Column -->
                <ng-container matColumnDef="percentage">
                  <mat-header-cell *matHeaderCellDef> Percentage </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <mat-form-field floatLabel="never">
                    <input matInput type="text" placeholder="60.25" [formControl]="element.get('percentage')" required >
                    </mat-form-field>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Delete">
                  <mat-header-cell *matHeaderCellDef></mat-header-cell>
                  <mat-cell *matCellDef="let i = index;">
                    &nbsp;&nbsp;&nbsp;
                    <button mat-button class="deleteButton" (click)="removeQualification(i)">Delete</button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

              </mat-table>

            </div>

            <br/>
            <button mat-raised-button color="primary" matStepperNext>Next</button>



  </mat-step>

  <mat-step [stepControl]="formUploadDocumemtsGroup" label="Upload Documents" >
    <div style="padding-top: 3%;">
        <form [formGroup]="formUploadDocumemtsGroup">
            <!-- <ng-template matStepLabel>Name</ng-template> -->
            <div class="example-form">

            </div>
            <br/>
            <button mat-raised-button color="primary" matStepperNext>Next</button>
        </form>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Payment Details</ng-template>
    <h5>You are now done.</h5>
    <div>
        <button mat-raised-button color="primary" matStepperPrevious>Back</button> &nbsp; &nbsp;
        <button mat-raised-button color="accent" type="submit">Submit</button> &nbsp; &nbsp;
        <button mat-raised-button color="warn" (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
<!-- <ng-template matStepperIcon="phone">
    <mat-icon>phone</mat-icon>
</ng-template> -->

</mat-horizontal-stepper>
