
mat-card-header
{
  background-color:#00838F;
  color:white;
  padding :15px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.addressHeading
{

  background-color:#00838F;
  color:white;
  padding-left :40px;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
}

.div-right
{
  border-right: 2px solid #BDBDBD;
}
.example-form {
  min-width: 200px;
  max-width: 300px;
  width: 100%;
  margin: 2em auto;
}

.example-full-width {
  width: 100%;
}
mat-card{
  background-color:#F1F8E9;
  margin:2em;
  padding-top:0;
  padding-left:0;
  padding-right:0
}
.checkboxAddress
{
  color:#BF360C;
}
mat-table
{
  background-color:#FBE9E7;
}
mat-header-cell{
  background-color:#FFAB91;
  font-weight: bold;
  font-size:medium;
}


/*
mat-footer-row, mat-header-row, mat-row {
  border-bottom-width: 2px solid #FF8A65;
}
*/
mat-header-cell{
  display: flex;
  justify-content: center;
 // align-items: flex-start ;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

 .mat-column-qualificationtype{
border-right: 2px solid #E0E0E0;
border-bottom: 2px solid #E0E0E0;
align-self: stretch;
text-align: center
}
.mat-column-institution{
border-right: 2px solid #E0E0E0;
align-self: stretch;
text-align: center;

}
.mat-column-university{
border-right: 2px solid #E0E0E0;
align-self: stretch;
text-align: center;

}
.mat-column-yearofpass{
  border-right: 2px solid #E0E0E0;
  align-self: stretch;
  text-align: center;
}

.mat-column-registrationno{
  border-right: 2px solid #E0E0E0;
  align-self: stretch;
  text-align: center;
}

.mat-column-cgpa{
  border-right: 2px solid #E0E0E0;
  align-self: stretch;
  text-align: center;
}



mat-error{
  font-weight: bold;
}


.nextButton
{
  margin-left: 15px;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

