
mat-card-header
{
  background-color:#00838F;
  color:white;
  padding :15px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.addressHeading
{

  background-color:#00838F;
  color:white;
  padding-left :40px;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
}

.div-right
{
  border-right: 2px solid #BDBDBD;
}
.example-form {
  min-width: 200px;
  max-width: 300px;
  width: 100%;
  margin: 2em auto;
}

.example-full-width {
  width: 100%;
}
mat-card{
  background-color:#F1F8E9;
  margin:2em;
  padding-top:0;
  padding-left:0;
  padding-right:0
}
.checkboxAddress
{
  color:#BF360C;
}

mat-error{
  font-weight: bold;
}


.nextButton
{
  margin-left: 15px;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

