
  <div fxLayout="row wrap"  fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center" class="common-footer">

  <div>
        <p class="text">Designed and Developed by Software Development and Training Centre <a href="https://www.nic.in/" class="footertext" target="_blank" rel="noreferrer noopener" >National Informatics Centre</a> ,Kochi.<br>Content Owned & Managed by <a href="https://ayurveda.kerala.gov.in/" target="_blank" rel="noreferrer noopener" class="footertext" >
          Directorate of Ayurveda Medical Education</a>, Thiruvananthapuram</p>
  </div>
</div>


