<mat-toolbar class="common-footer" >

  <mat-toolbar-row>

  <div fxFlex="25%">
        <p style="text-align: center;">
        <a  href="http://digitalindia.gov.in/" target="_blank" rel="noreferrer noopener">
        <img src="../../../assets/images/DIndia.jpg" width="40px;" height="40px;" /></a>
        </p>
  </div>

  <div fxFlex="50%">
        <p style="text-align: center;margin-top:0; margin-bottom:0;color:#FFF;font-size:13px">Designed and Developed by Software Development and Training Centre <a href="https://www.nic.in/" class="footertext" target="_blank" rel="noreferrer noopener" >National Informatics Centre</a> ,Kochi.<br>Content Owned & Managed by <a href="https://ayurveda.kerala.gov.in/" target="_blank" rel="noreferrer noopener" class="footertext" >Department of Ayurveda Medical Education</a>, Thiruvananthapuram</p>
  </div>

  <div fxFlex="25%">
      <p style="text-align: center;">
      <a href="https://www.nic.in/" target="_blank" rel="noreferrer noopener"><img src="../../../assets/images/niclogosmall.jpg"/></a>
      </p>
  </div>

</mat-toolbar-row>
</mat-toolbar>


