.common-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color:rgba(14, 77, 146);
  color: white;
}
.footertext {
	color:#faa21f;
}
.footertext:hover {
	color:white;
}
