.mat-table
{
  background-color:#E3F2FD;
  overflow: auto;
  max-height: 500px;
}
mat-header-cell{
  background-color:#0277BD;
  font-weight: bold;
  font-size:medium;
  flex-direction: column;
  justify-content: center;
}

.mat-column-profileid,.mat-column-fullname,.mat-column-emailid,.mat-column-preview,.mat-column-status,.mat-column-reason
{
border-right: 2px solid #03A9F4;
border-bottom: 2px solid #03A9F4;
align-self: stretch;
text-align: center;
font-weight: bold;
}
.mat-column-profileid
{
border-left: 2px solid #03A9F4;
}

.mat-table__wrapper .mat-table {
  min-width: auto !important;
  width: 100% !important;
}

.mat-header-row {
  width: 100%;
}

.mat-row {
  width: 100%;
}

.mat-column-profileid,.mat-column-fullname,.mat-column-emailid,.mat-column-preview,.mat-column-status,.mat-column-reason
 {
  //flex: 0 0 25% !important;
  min-width: 200px !important;
  // width adjustment above two lines
  display: inline-block;
  vertical-align: middle;
  line-height: 2.6em;
  white-space: nowrap;
  padding:15px;
}

// ***** Mat table css ends  *****
//raised shadow
.blog-shadow-dreamy {
  box-shadow: 0 1px 2px rgba(0,0,0,0.07),
              0 2px 4px rgba(0,0,0,0.07),
              0 4px 8px rgba(0,0,0,0.07),
              0 8px 16px rgba(0,0,0,0.07),
              0 16px 32px rgba(0,0,0,0.07),
              0 32px 64px rgba(0,0,0,0.07);
}
