.course-heading
{
  color:#971d4e;
  font-weight: bold;
}
.course-eligibility
{

  color:#558B2F;
  font-weight: bold;
}
.centrecss
{
  display: flex;
  justify-content: center;
  align-items: stretch;;
}

.customcss
{
  background-color:#E8F5E9;
}
