
<mat-card >
  <mat-card-content>
  <p class="h5 course-heading">
  Courses Offered & Eligibility :
  </p>
  <br>
  <div>
  <p class="h6 course-eligibility">Certificate Course in Ayurveda Pharmacy ( 1 year )</p>
  <dl class="row">
    <dt class="col-sm-3">Qualification</dt>
    <dd class="col-sm-9">SSLC Examination or equivalent examination with C+ Grade</dd>
    <dt class="col-sm-3">Age</dt>
    <dd class="col-sm-9">
      <p>Candidates between the age of 16 and 28 as on 01-05-2018 are eligible to apply</p>
    </dd>
  </dl>
  </div>
 <hr>
 <div>
  <p class="h6 course-eligibility">Certificate Course in Ayurveda Therapist ( 1 year )</p>
  <dl class="row">
    <dt class="col-sm-3">Qualification</dt>
    <dd class="col-sm-9">SSLC Examination or equivalent examination with (D+ Grade)</dd>
    <dt class="col-sm-3">Age</dt>
    <dd class="col-sm-9">
      <p>Candidates between the age of 16 and 28 as on 01-05-2018 are eligible to apply</p>
    </dd>
  </dl>
  </div>
 <hr>
 <div>
  <p class="h6 course-eligibility">Certificate Course in Ayurveda Nurse ( 1 year )</p>
  <dl class="row">
    <dt class="col-sm-3">Qualification</dt>
    <dd class="col-sm-9">SSLC Examination or equivalent examination with C+ Grade</dd>
    <dt class="col-sm-3">Age</dt>
    <dd class="col-sm-9">
      <p>Candidates between the age of 17 and 25 as on 01-05-2018 are eligible to apply</p>
    </dd>
  </dl>
 </div>
 <hr>
</mat-card-content>
</mat-card>


