
<div fxLayout="row" >
  <mat-card  >
    <mat-card-header>
      <mat-card-title>Registration</mat-card-title>
    </mat-card-header>

  <mat-card-content>
  <form [formGroup]='registrationForm' #ngForm="ngForm" (ngSubmit)="registrationForm.valid && addPerson()">
    <div *ngIf="registrationForm.dirty " class="errorMessage">
      <span class="material-icons">
        notification_important
        </span> {{warnmessage}}
    </div>
    <div *ngIf="ngForm.submitted && errorlist !=null" class="alert">
      <span class="material-icons">
        error
      </span> Error
      <ul>
        <li *ngFor="let err of errorlist">
        <span>{{err}}</span>
       </li>
      </ul>
    </div>
    <div class="form-group">
      <br>
      <br>
      <div fxLayout="row" fxLayoutAlign="start">
      <div fxFlex="75"><label ast-required>Full Name</label></div>
      <div fxFlex="25"><small><mat-hint  matTooltipClass="test" matTooltip="{{hintFullNamedDisplay}}">Hint</mat-hint></small></div>
      </div>
      <mat-form-field class="example-full-width">
      <span matPrefix><mat-icon>person</mat-icon>&nbsp;</span>
      <input matInput type="text"  formControlName="fullname"  required appAlphabetOnly>
      <mat-error *ngIf ="registrationForm.touched && fullname.hasError('pattern') && !fullname.hasError('required')">
        {{errors.fullName}}
      </mat-error>
      <mat-error *ngIf ="fullname.hasError('required')">
        {{errors.fullNameRequired}}
      </mat-error>
    </mat-form-field>
    </div>
    <div class="form-group">
      <label  ast-required>Date of Birth</label>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>dd / mm / yyyy</mat-label>
      <input  matInput readonly [matDatepicker]="picker1" [min]="minDate" [max]="maxDate" formControlName="dob" (dateInput)="onDateChange($event)">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
      <mat-error *ngIf ="dob.hasError('required')">
        {{errors.dobRequired}}
      </mat-error>
    </mat-form-field>
     </div>
     <div class="form-group">
      <div fxLayout="row" fxLayoutAlign="start">
        <div fxFlex="75"><label ast-required>Email</label></div>
        <div fxFlex="25"><small><mat-hint  matTooltipClass="test" matTooltip="{{hintEmailDisplay}}">Hint</mat-hint></small></div>
      </div>
     <mat-form-field class="example-full-width">
      <span matPrefix><mat-icon>email</mat-icon>&nbsp;</span>
      <input type="email" matInput formControlName="emailid" placeholder="aaa@example.com" >
      <mat-error *ngIf ="registrationForm.touched && emailid.hasError('pattern') && !emailid.hasError('required')">
        {{errors.email}}
      </mat-error>
      <mat-error *ngIf ="emailid.hasError('required')">
        {{errors.emailRequired}}
      </mat-error>
    </mat-form-field>
    </div>
      <div class="form-group">
      <div fxLayout="row" fxLayoutAlign="start">
        <div fxFlex="75"><label ast-required>Mobile</label></div>
        <div fxFlex="25"><small><mat-hint  matTooltipClass="test" matTooltip="{{hintMobileDisplay}}">Hint</mat-hint></small></div>
      </div>
      <mat-form-field class="example-full-width">
        <span matPrefix>+91&nbsp;</span>
       <input matInput type="text" (keypress)="utilitysrv.numberOnly($event)" formControlName="mobileno"  placeholder="10 digit" >
       <mat-error *ngIf ="registrationForm.touched && mobileno.hasError('pattern') && !mobileno.hasError('required')">
        {{errors.mobile}}
      </mat-error>
      <mat-error *ngIf ="mobileno.hasError('required')">
        {{errors.mobileRequired}}
      </mat-error>

      </mat-form-field>
     </div>
   <div class="form-group">
    <div fxLayout="row" fxLayoutAlign="start">
      <div fxFlex="75"><label  ast-required>Password</label></div>
      <div fxFlex="25"><small><mat-hint  matTooltipClass="test" matTooltip="{{hintPasswordDisplay}}">Hint</mat-hint></small></div>
    </div>
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="passwordplain" appBlockCopyPaste >
        <br>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf ="passwordplain.hasError('required')">
          {{errors.passwordRequired}}
        </mat-error>
        <mat-error *ngIf ="registrationForm.touched && passwordplain.hasError('pattern') && !passwordplain.hasError('required')">
          {{errors.password}}
        </mat-error>
      </mat-form-field>
      <password-strength-meter [password]="passwordplain.value"
      (strengthChange)="onStrengthChange($event)">
    </password-strength-meter>

    </div>

    <mat-card fxLayout="column" *ngIf !="ishide">
      <div fxLayout="row inline" fxLayoutGap="10px">
        <div *ngIf = "isgenerate">
        <div class="form-group w-40">
          <input type="text"  formControlName="otp" class="form-control">

        </div>
        <div class="errorMessage">seconds remaining</div>
        </div>
      </div>
      <div fxLayout="row inline" fxLayoutGap="20px">
        <div *ngIf != "isgenerate">
        <button mat-raised-button color="accent">Generate OTP</button>
        </div>
        <div *ngIf ="isgenerate">
        <button mat-raised-button color="accent">Confirm OTP</button>

        </div>
      </div>
    </mat-card>
     <br>
     <div fxLayout="row inline" fxLayoutGap="20px">
      <div>
      <button mat-raised-button (click)="registrationForm.reset()"class="button-color">Reset</button>
      </div>
      <div >
      <button mat-raised-button color="warn">Submit</button>
      </div>
     </div>

    </form>
  </mat-card-content>
</mat-card>
</div>
<p>{{registrationForm.value|json}}</p>
<p>{{registrationForm.valid}}</p>
<p>{{sample}}</p>







