.example-full-width
{
  width: 100%;
}

.mat-form-field {
  margin-left: 8px;
}

mat-card-header
{
  background-color:#00838F;
  color:white;
  padding :15px;
  border-radius: 5px;
}


mat-error{
  font-weight: bold;
}

.alert{
  background-color: #e9f3f8;
  color: red;
}
.errorMessage{
  background-color: #dbf1c7;
  color: rgb(78, 5, 5);
  font-weight: bold;
}
