
<div fxLayout="row" class=" centrecss">
  <mat-card  class="formWidth">
  <!--  <mat-card-header>
      <mat-card-title>Registration</mat-card-title>
    </mat-card-header>
 -->
  <mat-card-content>
  <form [formGroup]='registrationForm' #ngForm="ngForm" (ngSubmit)="registrationForm.valid && isvalidOTPEntered  && addPerson()">
    <div *ngIf="registrationForm.dirty " class="errorMessage">
      <span class="material-icons">
        notification_important
        </span> {{warnmessage}}
    </div>
    <div *ngIf="ngForm.submitted && errorlist !=null" class="alert">
      <span class="material-icons">
        error
      </span> Error
      <ul>
        <li *ngFor="let err of errorlist">
        <span>{{err}}</span>
       </li>
      </ul>
    </div>
    <div class="form-group">
      <br>
      <br>
      <div fxLayout="row" fxLayoutAlign="start">
      <div fxFlex="75"><label ast-required>Full Name</label></div>
       <!--  <div fxFlex="25"><small><mat-hint  matTooltipClass="test" matTooltip="{{hintFullNamedDisplay}}">Hint</mat-hint></small></div> -->
      </div>
      <mat-form-field class="example-full-width">
      <span matPrefix><mat-icon>person</mat-icon>&nbsp;</span>
      <input  class="form-control customcss" matInput type="text"  formControlName="fullname" readonly>

      <!--
      <mat-error *ngIf ="registrationForm.touched && fullname.hasError('pattern') && !fullname.hasError('required')">
        {{errors.fullName}}
      </mat-error>
      <mat-error *ngIf ="fullname.hasError('required')">
        {{errors.fullNameRequired}}
      </mat-error>
       -->
    </mat-form-field>
    </div>
    <div class="form-group">
      <label  ast-required>Date of Birth</label>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>dd / mm / yyyy</mat-label>
      <input  matInput readonly [matDatepicker]="picker1" [min]="minDate" [max]="maxDate" formControlName="dob" (dateInput)="onDateChange($event)">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
      <mat-error *ngIf ="dob.hasError('required')">
        {{errors.dobRequired}}
      </mat-error>
    </mat-form-field>
     </div>
     <div class="form-group">
      <div fxLayout="row" fxLayoutAlign="start">
        <div fxFlex="75"><label ast-required>Email</label></div>
     <!--  <div fxFlex="25"><small><mat-hint  matTooltipClass="test" matTooltip="{{hintEmailDisplay}}">Hint</mat-hint></small></div>-->
      </div>
     <mat-form-field class="example-full-width">
      <span matPrefix><mat-icon>email</mat-icon>&nbsp;</span>
      <input  class="form-control customcss" matInput type="text"  formControlName="emailid" readonly>
      <!-- <input type="email" matInput formControlName="emailid" placeholder="aaa@example.com" (blur)="onBlurEmail()" readonly>

      <mat-error *ngIf ="registrationForm.touched && emailid.hasError('pattern') && !emailid.hasError('required')">
        {{errors.email}}
      </mat-error>
      <mat-error *ngIf ="registrationForm.touched && emailid.hasError('EmailidExists') && !emailid.hasError('required')">
        {{errors.emailDuplicate}}
      </mat-error>
      <mat-error *ngIf ="emailid.hasError('required')">
        {{errors.emailRequired}}
      </mat-error>
    -->
    </mat-form-field>
    </div>
      <div class="form-group">
      <div fxLayout="row" fxLayoutAlign="start">
        <div fxFlex="75"><label ast-required>Mobile</label></div>
        <div fxFlex="25"><small><mat-hint  matTooltipClass="test" matTooltip="{{hintMobileDisplay}}">Hint</mat-hint></small></div>
      </div>
      <mat-form-field class="example-full-width">
        <span matPrefix>+91&nbsp;</span>
       <input matInput type="text" (keypress)="utilitysrv.numberOnly($event)" formControlName="mobileno"  placeholder="10 digit" >

       <mat-error *ngIf ="registrationForm.touched && mobileno.hasError('pattern') && !mobileno.hasError('required')">
        {{errors.mobile}}
      </mat-error>
      <mat-error *ngIf ="registrationForm.touched && mobileno.hasError('MobileNoExists') && !mobileno.hasError('required')">
        {{errors.mobileNoDuplicate}}
      </mat-error>
      <mat-error *ngIf ="mobileno.hasError('required')">
        {{errors.mobileRequired}}
      </mat-error>

      </mat-form-field>
     </div>
  <!--
   <div class="form-group">
    <div fxLayout="row" fxLayoutAlign="start">
      <div fxFlex="75"><label  ast-required>Password</label></div>
      <div fxFlex="25"><small><mat-hint  matTooltipClass="test" matTooltip="{{hintPasswordDisplay}}">Hint</mat-hint></small></div>
    </div>
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="passwordplain" appBlockCopyPaste >
        <br>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf ="passwordplain.hasError('required')">
          {{errors.passwordRequired}}
        </mat-error>
        <mat-error *ngIf ="registrationForm.touched && passwordplain.hasError('pattern') && !passwordplain.hasError('required')">
          {{errors.password}}
        </mat-error>
      </mat-form-field>
      <password-strength-meter [password]="passwordplain.value"
      (strengthChange)="onStrengthChange($event)">
    </password-strength-meter>
    </div>
    -->
    <mat-card fxLayout="column" *ngIf ="isshowEmailOTP">
      <label ast-required> Email verification OTP</label>
      <div fxFlex="20" class="errorMessage"  *ngIf ="isshowErrorEmailOTP">
        {{errorEmailOTP}}
      </div>
      <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start"   *ngIf = "!isGenerateOTP || isResendOTP" >
        <div  fxFlex="30" >
          <input type="text"  formControlName="otp" class="form-control" (keypress)="utilitysrv.numberOnly($event)">
        </div>
        <div fxFlex="70" class="errorMessage"   *ngIf ="isConfirmOTP">{{count}} seconds remaining
        <br><small>Check the email to know OTP</small>
        </div>
      </div>

      <br>
      <div  fxLayout="row inline" fxLayoutGap="10px">
        <div  fxFlex="30" *ngIf = "isGenerateOTP">
        <button mat-raised-button color="accent" (click)="clickGenerateOTP($event)">Generate OTP</button>
        </div>
        <div  fxFlex="60" >
          <label>{{otpStatus}}</label>
          </div>
      </div>
      <br>
      <div fxLayout="row inline" fxLayoutGap="5px" *ngIf ="!isGenerateOTP">
        <div fxFlex="40" *ngIf = "isConfirmOTP">
        <button mat-raised-button color="primary" (click)="checkEmailOTP($event)">Confirm OTP</button>
      </div>
      <div fxFlex="40" *ngIf = "isResendOTP">
        <button mat-raised-button color="accent" (click)="clickGenerateOTP($event)">Resend OTP</button>
      </div>
    </div>
    </mat-card>
    <br>
    <!--
    <mat-card fxLayout="column" >
    <label ast-required> Enter captcha</label>
    <div  fxLayout="row inline" fxLayoutGap="5px">
    <div  fxFlex="30" class="">
      <input type="text"   class="form-control captcha_gen " value={{captcha}} readonly>
    </div>
    <div  fxFlex="20">
    <button mat-raised-button type="button" (click)="generateCaptcha()" id="refresh" class="refresh"><img src="../../assets/images/refresh.png"></button>
    </div>
    <div  fxFlex="50">
    <input type="text" formControlName="enteredCaptcha"  placeholder="Enter captcha" (blur)="captcha_validation()">
    </div>
    </div>
    <br>
    <div  fxFlex="60" >
      <label>{{captchaStatus}}</label>
      </div>
    </mat-card>
    -->
     <br>
     <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
      <div>
      <button mat-raised-button (click)="registrationForm.reset()"class="button-color">Reset</button>
      </div>
      <div >
      <button mat-raised-button color="warn">Submit</button>
      </div>
     </div>

    </form>
  </mat-card-content>
</mat-card>
</div>








