
div#container {
  position: relative; /* needed for footer positioning*/
  height: auto !important; /* real browsers */
  min-height: 100%; /* real browsers */


}
.right{
  background-color: #FFFFFF;
}

.left   {background-color:#e9f3f8}



.main-div{
  display: flex;
  justify-content: center;
  align-items: flex-start ;

}



