
<div fxLayout="row" >
  <mat-card  >
    <mat-card-header>
      <mat-card-title>Registration</mat-card-title>
    </mat-card-header>

  <mat-card-content>
  <form [formGroup]='registrationForm'>

    <div class="form-group">
      <br>
      <br>
      <label >Full Name</label>
      <mat-form-field class="example-full-width">
      <span matPrefix><mat-icon>person</mat-icon>&nbsp;</span>
      <input matInput type="text"  formControlName="name" >
      <mat-error *ngIf ="name.hasError('pattern') && !name.hasError('required')">
        {{errors.fullName}}
      </mat-error>
      <mat-error *ngIf ="name.hasError('required')">
        {{errors.fullNameRequired}}
      </mat-error>
    </mat-form-field>
    </div>
    <div class="form-group">
    <label >Date of Birth</label>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>dd/mm/yyyy</mat-label>
      <input matInput [matDatepicker]="picker1" [min]="minDate" [max]="maxDate" formControlName="dob">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
      <mat-error *ngIf ="dob.hasError('required')">
        {{errors.dobRequired}}
      </mat-error>
    </mat-form-field>

     </div>
     <div class="form-group">
      <label>Email</label>
     <mat-form-field class="example-full-width">
      <span matPrefix><mat-icon>email</mat-icon>&nbsp;</span>
      <input type="email" matInput formControlName="email" placeholder="aaa@example.com">
      <mat-error *ngIf ="email.hasError('pattern') && !email.hasError('required')">
        {{errors.email}}
      </mat-error>
      <mat-error *ngIf ="email.hasError('required')">
        {{errors.emailRequired}}
      </mat-error>
    </mat-form-field>
    </div>
      <div class="form-group">
      <label>Mobile</label>
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>10 digit</mat-label>
        <span matPrefix><mat-icon>phone</mat-icon>&nbsp;</span>
       <input matInput type="tel" formControlName="mobile"  placeholder="10 digit" >
       <mat-error *ngIf ="mobile.hasError('pattern') && !mobile.hasError('required')">
        {{errors.mobile}}
      </mat-error>
      <mat-error *ngIf ="mobile.hasError('required')">
        {{errors.mobileRequired}}
      </mat-error>

      </mat-form-field>
     </div>
   <div class="form-group">
      <label>Password</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<mat-hint [matTooltip]=hintmessage>Hint</mat-hint><br>
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" >
        <br>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf ="password.hasError('required')">
          {{errors.passwordRequired}}
        </mat-error>
        <mat-error *ngIf ="password.hasError('pattern') && !password.hasError('required')">
          {{errors.password}}
        </mat-error>
      </mat-form-field>

    </div>

    <mat-card fxLayout="column" >
      <div fxLayout="row inline" fxLayoutGap="10px">
        <div *ngIf = "isgenerate">
        <div class="form-group w-40">
          <input type="text"  formControlName="otp" class="form-control">

        </div>
        <div class="errorMessage">seconds remaining</div>
        </div>
      </div>
      <div fxLayout="row inline" fxLayoutGap="20px">
        <div *ngIf != "isgenerate">
        <button mat-raised-button color="accent">Generate OTP</button>
        </div>
        <div *ngIf ="isgenerate">
        <button mat-raised-button color="accent">Confirm OTP</button>

        </div>
      </div>
    </mat-card>
     <br>
    <button mat-raised-button color="warn">Confirm</button>
    </form>
  </mat-card-content>
</mat-card>
<p>{{registrationForm.value|json}}</p>
</div>








