mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}


mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bs-example{
margin-left: 50px;
}

.heading
{
  background-color:#00838F;
}
.form{
  background-color: #c2f2fa;

}
